header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    margin: 0;
    width: 100%;
}

header p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin:0;
    padding: 0.75em 3.7em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
}



nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0;
    padding: 1em 0;
    width: 100%;
    position: relative;
}

nav button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    left: 1.5em;
    
}

nav button img {
   width: 1.5em;
   margin: 0;
}

nav img {
    margin: auto;
}



header nav ul:first-of-type{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style:none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    transition:transform .3s;
    transform:translatex(-100%);
}

header nav ul:first-of-type.toonMenu {
    transform:translatex(0);
}

header nav ul:first-of-type li {
    padding: 1em;
}

header nav ul:first-of-type li a{
    text-decoration: none;
    color: black;
}



header nav ul:last-of-type{
    display: flex;
    position: relative;
    right: 1em;
    align-items: center;
    gap: 0.5em;
    justify-content: end
}

header nav ul:last-of-type li {   
    list-style-type: none;
    align-items: center;
    padding: 0;
}

header nav ul:last-of-type li a img {   
    width: 1.35em;
}