/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #656a70;
	--color-background: #fef2ec;
  --color-dark: black;
  --color-light: white;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  width: 80%;
  margin: auto;
}

section {
  padding-bottom: 8em;
}

main img {
  width: 100%;
}

h2 {
  font-size: 2em;
  font-weight: lighter;
  padding: 0 0 .5em;
  margin: 0;
  color: var(--color-dark);
}

em{
  font-style: normal;
}



main section:nth-of-type(1) p:first-of-type {
  letter-spacing: 0.15em;
}


main section:nth-of-type(1) p:last-of-type {
  line-height: 1.5em;
  padding-bottom: 3em;
}



main section:nth-of-type(1) ul {
  position: relative;   
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 0;
}

main section:nth-of-type(1) ul li a {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 2.5em;
  gap: .5em;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-decoration: none;
  font-weight:bold;
  font-size: small;  
}

main section:nth-of-type(1) li a img{
  width: 1.5em;
}







main section:nth-of-type(2) p:nth-child(1) {
  letter-spacing: 0.15em;
}

figure {
  padding: 2em 0;
  margin: 0;
  align-items: center;
  text-align: center;
}

figure a {
  font-size: 1.25em;
  text-decoration: none;
  color: var(--color-dark);
}

figure p {
  padding: 0 1em;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: normal;
}

figure p:first-of-type {
  color: var(--color-text);
}

main section:nth-of-type(2) em {
    display: block;
    padding-bottom: 1em;
}

/* percentage sectie */
main section:nth-of-type(3) {
  text-align: center;
}

main section:nth-of-type(3) h3{
  font-weight: lighter;
  font-size: 1.5em;
}

main section:nth-of-type(3) em{
  font-size: 3em;
  font-weight: bold;
  display: block;
}

main section:nth-of-type(3) p{
  padding: 2em 0;
  letter-spacing: .15em;
  font-size: .8em;
  font-weight: 600;
}

main section:nth-of-type(3) a {
  color: var(--color-light);
  background-color: var(--color-text);
  text-decoration: none;
  padding: .7em 1em;
  margin-top: 3em;
  display: block;
}

/* abonnementen sectie */

main section:nth-of-type(4) h2 {
  text-align: center;
}

main section:nth-of-type(4) p {
  text-align: center;
  line-height: 1.5em;
}

main section:nth-of-type(4) ul li{
 text-align: center;
 padding: 0.3em;
}

main section:nth-of-type(4) ul li:first-of-type{
 font-weight: bold;
}

main section:nth-of-type(4) a{
 color:var(--color-light);
 background-color: var(--color-dark);
 text-decoration: none;
 padding: 1em 2em;
 font-size: .8em;
}

main section:nth-of-type(4) img{
  display: block;
  margin-top: 1.5em;
}


/* bezoek / collage section  */

main section:nth-of-type(5) {
  text-align: center;
}

main section:nth-of-type(5) a{
  color: var(--color-dark);
  text-decoration: none;
  border: .1em solid var(--color-dark);
  padding: 1.5em;
  display: block;
  
 }

 main section:nth-of-type(6) {
  padding: 0;
  margin: 0;

  /*waarom werkt dit*/
  font-size: 0;
   
 }