/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background: white;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
	
.motd {
	background-color: white;
	height: 5vh;
	display: flex;
	align-items: center;
}

.motd p{
padding-left: 2em;
}

h1 {
	font-size: 2em;
	text-align: center;
}

nav {
	display: flex;
	height: 12.5vh;
	background-color: black;
}
.navimg	{
	display: flex;
	padding-left: 3em;
}

/* code die ik van sanne heb aangepast */
.carousel{
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;

}

ul {
	width: 100%;
	margin:auto;
	padding: 0;
	display:flex;
	overflow:hidden;
	scroll-behavior:smooth;
	list-style-type: none;
}
	

.carouselbtn {
	padding-top: 1em;
	display: flex;
	gap:1em;
}

.carouselbtn a{
	display:inline-block;
	width:0.85em;
	height:0.85em;
	border-radius:50%;
	background-color:white;
	border: grey 0.1em solid;
}

.categorien {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 3em;
	width: 90%;
	margin: auto;
	padding-top: 2em;
}

.catitem img {
	width: 12em;
}

.button {
	width: 25%;
	display: grid;
	justify-content: center;
	padding: 0.75em;
	margin: 2em auto 2em auto;
	background-color: rgb(207, 24, 24);
	color: white;
	text-decoration: none;
	border-radius: 2em;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.button:hover {
	background-color: rgb(167, 17, 17);
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.personaltrainer {
	width: 100%;
}

figure {
	display: grid;
	grid-template-columns: 4em 15em 4em;
	grid-template-rows: 20em 2em 2em;
}

figcaption {
	  grid-column-start: 1;
	  grid-column-end:span 2;

}

.fotoweekaanbieding {
	width: 100%;
}

.aanboditem {
	width: 100%;
}

.hartje {
	width: 2em	;
}

.cart {
	width: 70%;
}